In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df=pd.read_csv('C:/pypy/merc.csv')

In [3]:
df.head()

,model,year,price,transmission,mileage,fuelType,tax,mpg,engineSize
0,SLK,2005,5200,Automatic,63000,Petrol,325,32.1,1.8
1,S Class,2017,34948,Automatic,27000,Hybrid,20,61.4,2.1
2,SL CLASS,2016,49948,Automatic,6200,Petrol,555,28.0,5.5
3,G Class,2016,61948,Automatic,16000,Petrol,325,30.4,4.0
4,G Class,2016,73948,Automatic,4000,Petrol,325,30.1,4.0

In [4]:
df.describe()

,year,price,mileage,tax,mpg,engineSize
count,13119.000000,13119.000000,13119.000000,13119.000000,13119.000000,13119.000000
mean,2017.296288,24698.596920,21949.559037,129.972178,55.155843,2.071530
std,2.224709,11842.675542,21176.512267,65.260286,15.220082,0.572426
min,1970.000000,650.000000,1.000000,0.000000,1.100000,0.000000
25%,2016.000000,17450.000000,6097.500000,125.000000,45.600000,1.800000
50%,2018.000000,22480.000000,15189.000000,145.000000,56.500000,2.000000
75%,2019.000000,28980.000000,31779.500000,145.000000,64.200000,2.100000
max,2020.000000,159999.000000,259000.000000,580.000000,217.300000,6.200000

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13119 entries, 0 to 13118
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   model         13119 non-null  object
 1   year          13119 non-null  int64
 2   price         13119 non-null  int64
 3   transmission  13119 non-null  object
 4   mileage       13119 non-null  int64
 5   fuelType      13119 non-null  object
 6   tax           13119 non-null  int64
 7   mpg           13119 non-null  float64
 8   engineSize    13119 non-null  float64
dtypes: float64(2), int64(4), object(3)
memory usage: 922.6+ KB

In [6]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()

In [7]:
df['model_le']=le.fit_transform(df.model)
df['transmission_le']=le.fit_transform(df.transmission)
df['fuelType_le']=le.fit_transform(df.fuelType)
df.head()

,model,year,price,transmission,mileage,fuelType,tax,mpg,engineSize,model_le,transmission_le,fuelType_le
0,SLK,2005,5200,Automatic,63000,Petrol,325,32.1,1.8,20,0,3
1,S Class,2017,34948,Automatic,27000,Hybrid,20,61.4,2.1,18,0,1
2,SL CLASS,2016,49948,Automatic,6200,Petrol,555,28.0,5.5,19,0,3
3,G Class,2016,61948,Automatic,16000,Petrol,325,30.4,4.0,9,0,3
4,G Class,2016,73948,Automatic,4000,Petrol,325,30.1,4.0,9,0,3

In [8]:
df=df.drop(['model','transmission','fuelType'],axis=1)
df.head()

,year,price,mileage,tax,mpg,engineSize,model_le,transmission_le,fuelType_le
0,2005,5200,63000,325,32.1,1.8,20,0,3
1,2017,34948,27000,20,61.4,2.1,18,0,1
2,2016,49948,6200,555,28.0,5.5,19,0,3
3,2016,61948,16000,325,30.4,4.0,9,0,3
4,2016,73948,4000,325,30.1,4.0,9,0,3

In [9]:
X=df.drop(['price'],axis=1)
y=df['price']

In [10]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.3, random_state=0)

In [11]:
from sklearn.linear_model import LinearRegression
L_reg=LinearRegression()
L_reg.fit(X_train,y_train)

LinearRegression()

In [12]:
y_pred=L_reg.predict(X_test)

In [13]:
L_reg.score(X_train,y_train)

0.6957804439930841

In [14]:
from sklearn.model_selection import cross_val_score

In [15]:
from sklearn.svm import SVC
from sklearn.ensemble import RandomForestRegressor

In [16]:
cross_val_score(RandomForestRegressor(),X,y)

array([0.92033325, 0.95424409, 0.91097013, 0.96121338, 0.74842856])

In [17]:
rf=RandomForestRegressor()

In [18]:
rf.fit(X_train,y_train)

RandomForestRegressor()

In [19]:
rf.score(X_test,y_test)

0.9552008930861693

In [20]:
model_param={'linear_reg':{'model':LinearRegression(),'params':{'fit_intercept' : [bool]}},
            'RandomForestReg':{'model':RandomForestRegressor(),'params':{'criterion' : ["squared_error", "absolute_error", "poisson"],'max_features' : ["auto", "sqrt", "log2"]}}}

In [21]:
from sklearn.model_selection import GridSearchCV

In [22]:
result=[]
for model_name, i in model_param.items():
    gs=GridSearchCV(i['model'],i['params'],cv=5,return_train_score=False)
    gs.fit(X_test,y_test)
    result.append({'model':model_name,'best score':gs.best_score_,'best parameter':gs.best_params_})

In [23]:
result

[{'model': 'linear_reg',
  'best score': 0.7193443737298992,
  'best parameter': {'fit_intercept': bool}},
 {'model': 'RandomForestReg',
  'best score': 0.9246305482460491,
  'best parameter': {'criterion': 'absolute_error', 'max_features': 'log2'}}]

In [24]:
dr=pd.DataFrame(result)
dr

,model,best score,best parameter
0,linear_reg,0.719344,{'fit_intercept': <class 'bool'>}
1,RandomForestReg,0.924631,"{'criterion': 'absolute_error', 'max_features'..."